<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="float-left font-weight-bold bg-warning px-3 my-3">理想の食事について</h3>
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-8 offset-md-1">
      <h5>食事バランスガイドの説明</h5>
      <p>2000年に現在の厚生労働省、農林水産省が連携して作成したものです。</p>
      <p>食事バランスガイドでは、食事の望ましい組み合わせやおおよその量をコマに見立ててわかりやすくイラストで示されています。</p>
      <p>さらに毎日の食事を主食、副菜、主菜、牛乳・乳製品、果物の5つに分け、1日にそれぞれをどれだけ食べれば良いかが示されています。</p>
    </div>
  </div>
</div>